html {
    line-height: 200%;
}

h1 {
    text-align: center; 
}

main{
    padding: 20px;
}


.zhu {
    font-size: em;
    font-style: italic;
}

footer{
    font-size: smaller;
    text-align: center;
}
